/* line 3, ../scss/sp.scss */
body {
  width: 100%;
  max-width: 100%;
  border-left: none;
  border-right: none; }

/* line 9, ../scss/sp.scss */
.sp {
  display: block; }

/* line 12, ../scss/sp.scss */
.pc {
  display: none; }

/* line 15, ../scss/sp.scss */
.baloon_1 {
  line-height: 100px;
  height: 100px;
  font-size: 18px; }
  /* line 19, ../scss/sp.scss */
  .baloon_1:after {
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border-width: 20px 20px 0 20px; }

/* line 25, ../scss/sp.scss */
.baloon_2 {
  line-height: 100px;
  height: 100px;
  font-size: 18px; }
  /* line 29, ../scss/sp.scss */
  .baloon_2:after {
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border-width: 20px 20px 0 20px; }

/* line 35, ../scss/sp.scss */
.baloon_3 {
  line-height: 100px;
  height: 100px;
  font-size: 18px;
  margin-bottom: 40px; }
  /* line 41, ../scss/sp.scss */
  .baloon_3:after {
    bottom: -40px;
    left: calc(50% - 60px);
    border-width: 40px 60px 0 60px; }

@media screen and (max-width: 639px) {
  /* line 49, ../scss/sp.scss */
  .text_01 {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px; }

  /* line 54, ../scss/sp.scss */
  .text_02 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px; }

  /* line 59, ../scss/sp.scss */
  .text_03 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px; }

  /* line 64, ../scss/sp.scss */
  .text_04 {
    font-size: 14px;
    line-height: 24px; }

  /* line 68, ../scss/sp.scss */
  .text_05 {
    font-size: 20px !important;
    line-height: 30px !important; }

  /* line 72, ../scss/sp.scss */
  .text_06 {
    font-size: 16px;
    line-height: 26px; }

  /* line 76, ../scss/sp.scss */
  .text_07 {
    font-size: 14px;
    line-height: 20px; }

  /* line 80, ../scss/sp.scss */
  .text_min {
    font-size: 10px;
    line-height: 12px;
    text-align: left; } }
@media screen and (min-width: 640px) and (max-width: 1119px) {
  /* line 90, ../scss/sp.scss */
  .cont_06 .cont_06_04 li img {
    margin: -5% 0 20px -5% !important; } }
/* line 98, ../scss/sp.scss */
.cont_01 .text_01 {
  margin: 10px auto 20px; }

/* line 104, ../scss/sp.scss */
.cont_02 {
  padding-bottom: 40px; }
  /* line 106, ../scss/sp.scss */
  .cont_02 .bg_01 {
    margin: 0 0 0 0; }
  /* line 109, ../scss/sp.scss */
  .cont_02 .text_01 {
    margin: 10px; }
  /* line 112, ../scss/sp.scss */
  .cont_02 img {
    width: 90%;
    margin: 20px auto 20px; }

/* line 117, ../scss/sp.scss */
.cont_03 {
  width: 95%;
  margin: 0 auto;
  border: 6px solid #f8c798;
  padding: 10px; }
  /* line 123, ../scss/sp.scss */
  .cont_03 img {
    width: 100%;
    margin: 0 0 20px 0; }
  /* line 128, ../scss/sp.scss */
  .cont_03 p {
    margin-bottom: 10px; }

/* line 132, ../scss/sp.scss */
.cont_04 {
  padding-bottom: 40px;
  background-position: center 50px; }
  /* line 136, ../scss/sp.scss */
  .cont_04 .cont_04_01 {
    width: 95%;
    margin: 0 auto; }
    /* line 139, ../scss/sp.scss */
    .cont_04 .cont_04_01 p {
      margin: 20px 0 0;
      width: 100%; }
    /* line 143, ../scss/sp.scss */
    .cont_04 .cont_04_01 ul {
      margin: 20px auto;
      border: 2px solid #666872;
      border-radius: 3px;
      padding: 10px;
      box-sizing: border-box; }
      /* line 150, ../scss/sp.scss */
      .cont_04 .cont_04_01 ul li {
        margin-bottom: 20px;
        background: url(../images/icon_01.png) no-repeat left top;
        padding-left: 50px;
        box-sizing: border-box;
        min-height: 42px; }
    /* line 158, ../scss/sp.scss */
    .cont_04 .cont_04_01 .cont_04_02 {
      text-align: center; }
      /* line 160, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_02 p {
        margin: 20px auto; }
      /* line 163, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_02 span {
        margin-top: 10px; }
      /* line 166, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_02 img {
        width: 100%; }
    /* line 170, ../scss/sp.scss */
    .cont_04 .cont_04_01 .cont_04_03 {
      padding: 10px;
      box-sizing: border-box; }
      /* line 173, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_03 p {
        width: 95%;
        margin: 0 auto 20px;
        font-weight: normal; }
      /* line 178, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_03 .img_01 {
        margin: 20px auto;
        width: 80%; }
      /* line 182, ../scss/sp.scss */
      .cont_04 .cont_04_01 .cont_04_03 .img_02 {
        margin: 0 auto;
        width: 60%; }

/* line 189, ../scss/sp.scss */
.cont_05 {
  padding-bottom: 20px; }
  /* line 192, ../scss/sp.scss */
  .cont_05 .cont_05_01 {
    margin: 40px auto 50px;
    width: 95%; }
    /* line 196, ../scss/sp.scss */
    .cont_05 .cont_05_01 p {
      margin-bottom: 20px; }
  /* line 200, ../scss/sp.scss */
  .cont_05 .cont_05_02 {
    background: #fff;
    border: 10px solid #c8b28b;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: left; }
    /* line 209, ../scss/sp.scss */
    .cont_05 .cont_05_02 ul {
      width: 100%;
      margin: 0 auto; }
      /* line 213, ../scss/sp.scss */
      .cont_05 .cont_05_02 ul li h3 {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        padding-left: 5px; }
        /* line 219, ../scss/sp.scss */
        .cont_05 .cont_05_02 ul li h3:after {
          border-width: 30px 10px 30px 0px; }
      /* line 223, ../scss/sp.scss */
      .cont_05 .cont_05_02 ul li p {
        font-size: 16px;
        line-height: 1.4;
        padding: 20px 0; }
  /* line 232, ../scss/sp.scss */
  .cont_05 .text_01 {
    margin: 20px auto 0;
    width: 95%; }

/* line 237, ../scss/sp.scss */
.cont_06 {
  padding: 40px 0 0; }
  /* line 240, ../scss/sp.scss */
  .cont_06 .cont_06_01 {
    width: 95%;
    margin: 0 auto 20px; }
  /* line 244, ../scss/sp.scss */
  .cont_06 .cont_06_02 {
    margin: 20px auto;
    background: #fff;
    padding: 20px 0 10px; }
    /* line 248, ../scss/sp.scss */
    .cont_06 .cont_06_02 p {
      margin-bottom: 10px; }
  /* line 252, ../scss/sp.scss */
  .cont_06 .cont_06_03 {
    text-align: left;
    width: 95%;
    margin: 20px auto;
    margin-bottom: 20px; }
  /* line 259, ../scss/sp.scss */
  .cont_06 .cont_06_04 img {
    width: 100%; }
  /* line 262, ../scss/sp.scss */
  .cont_06 .cont_06_04 .cont_06_05 {
    padding: 60px 0 20px;
    width: 100%;
    margin: -30px auto 0; }
  /* line 267, ../scss/sp.scss */
  .cont_06 .cont_06_04 li {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box; }
    /* line 273, ../scss/sp.scss */
    .cont_06 .cont_06_04 li img {
      margin: -8% 0 20px -8%; }
    /* line 277, ../scss/sp.scss */
    .cont_06 .cont_06_04 li p {
      margin-bottom: 15px; }
      /* line 279, ../scss/sp.scss */
      .cont_06 .cont_06_04 li p :last-of-type {
        margin-bottom: 0; }
  /* line 284, ../scss/sp.scss */
  .cont_06 .cont_06_04 .arrow_01 {
    width: 50%;
    margin: 0 auto 20px; }
  /* line 289, ../scss/sp.scss */
  .cont_06 .cont_06_04 li .memo {
    margin: 40px auto;
    width: 100%;
    background: url(../images/bg_06.png) left top;
    box-shadow: 1px 1px 2px #666;
    position: relative;
    padding: 40px 0 20px; }
    /* line 296, ../scss/sp.scss */
    .cont_06 .cont_06_04 li .memo .pin_l {
      width: 20px;
      position: absolute;
      left: 10px;
      top: -10px;
      margin-bottom: 0; }
      /* line 302, ../scss/sp.scss */
      .cont_06 .cont_06_04 li .memo .pin_l img {
        width: 100%; }
    /* line 306, ../scss/sp.scss */
    .cont_06 .cont_06_04 li .memo .pin_r {
      width: 20px;
      position: absolute;
      right: 10px;
      top: -10px;
      margin-bottom: 0; }
      /* line 312, ../scss/sp.scss */
      .cont_06 .cont_06_04 li .memo .pin_r img {
        width: 100%; }
    /* line 317, ../scss/sp.scss */
    .cont_06 .cont_06_04 li .memo ul li {
      background-color: transparent;
      margin-bottom: 20px;
      background: url(../images/icon_01.png) no-repeat left top;
      background-size: 20px;
      padding: 0 0 0 40px;
      box-sizing: border-box;
      height: auto;
      font-size: 16px;
      line-height: 1.2; }
  /* line 332, ../scss/sp.scss */
  .cont_06 .cont_06_06 {
    width: 95%;
    margin: 15% auto 0;
    border: 6px solid #bcb2a4;
    border-radius: 5px;
    background: url(../images/bg_03.png) left top; }
    /* line 339, ../scss/sp.scss */
    .cont_06 .cont_06_06 .cont_06_07 {
      padding: 20px 0; }
      /* line 342, ../scss/sp.scss */
      .cont_06 .cont_06_06 .cont_06_07 ul {
        margin-top: 65px; }
        /* line 345, ../scss/sp.scss */
        .cont_06 .cont_06_06 .cont_06_07 ul li {
          margin-top: 20px;
          background: rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 5px #444;
          width: 95%;
          margin-bottom: 40px; }
          /* line 352, ../scss/sp.scss */
          .cont_06 .cont_06_06 .cont_06_07 ul li .ttl {
            background: #bcb2a4;
            border-radius: 5px;
            padding: 10px 20px;
            width: 150px;
            text-align: center;
            font-size: 20px;
            color: #7d6439;
            margin: -9% auto 20px; }
        /* line 363, ../scss/sp.scss */
        .cont_06 .cont_06_06 .cont_06_07 ul audio {
          margin-bottom: 20px;
          border: 1px solid #ccc;
          width: 80%; }
  /* line 371, ../scss/sp.scss */
  .cont_06 .cont_06_07 {
    padding: 30px 0; }
    /* line 374, ../scss/sp.scss */
    .cont_06 .cont_06_07 img {
      margin-bottom: 20px;
      max-width: 95%; }
    /* line 379, ../scss/sp.scss */
    .cont_06 .cont_06_07 p {
      width: 100%;
      margin: 0 auto 20px; }
      /* line 382, ../scss/sp.scss */
      .cont_06 .cont_06_07 p :last-of-type {
        margin-bottom: 0; }
  /* line 388, ../scss/sp.scss */
  .cont_06 .cont_06_08 {
    text-align: left;
    padding: 20px 0; }
    /* line 392, ../scss/sp.scss */
    .cont_06 .cont_06_08 p {
      width: 95%;
      margin: 0 auto 15px; }
      /* line 395, ../scss/sp.scss */
      .cont_06 .cont_06_08 p :last-of-type {
        margin-bottom: 0; }
    /* line 399, ../scss/sp.scss */
    .cont_06 .cont_06_08 ul {
      width: 95%;
      margin: 20px auto; }
      /* line 404, ../scss/sp.scss */
      .cont_06 .cont_06_08 ul li {
        margin-bottom: 10px; }
    /* line 408, ../scss/sp.scss */
    .cont_06 .cont_06_08 .text_02 {
      color: #2f9aa3;
      text-align: center; }
  /* line 413, ../scss/sp.scss */
  .cont_06 .cont_06_09 {
    background: url(../images/img_36.png) no-repeat right bottom;
    background-size: cover;
    margin-top: -70px;
    text-align: left; }
    /* line 418, ../scss/sp.scss */
    .cont_06 .cont_06_09 p {
      width: 95%;
      margin: 0 auto 15px;
      text-shadow: 0 0 0 #fff,0 0 0 #fff,0 0 0 #fff; }
      /* line 423, ../scss/sp.scss */
      .cont_06 .cont_06_09 p :last-of-type {
        margin-bottom: 0; }
    /* line 427, ../scss/sp.scss */
    .cont_06 .cont_06_09 .cont_06_10 {
      background: rgba(255, 255, 255, 0.7);
      padding: 100px 10px 60px; }

/* line 433, ../scss/sp.scss */
.cont_07 {
  text-align: left;
  padding: 20px 0; }
  /* line 436, ../scss/sp.scss */
  .cont_07 p {
    width: 95%;
    margin: 0 auto 15px; }
    /* line 439, ../scss/sp.scss */
    .cont_07 p :last-of-type {
      margin-bottom: 0; }
  /* line 443, ../scss/sp.scss */
  .cont_07 img {
    margin-bottom: 20px; }
  /* line 446, ../scss/sp.scss */
  .cont_07 ul {
    width: 95%;
    margin: 20px auto;
    border: 2px solid #aac3fe;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box; }
    /* line 454, ../scss/sp.scss */
    .cont_07 ul li {
      margin-bottom: 10px;
      background: url(../images/icon_01.png) no-repeat left top;
      background-size: 30px;
      padding-left: 40px;
      min-height: 30px;
      line-height: 1.2;
      padding-top: 5px;
      box-sizing: border-box;
      font-size: 16px;
      box-sizing: border-box; }

/* line 468, ../scss/sp.scss */
.cont_08 {
  padding-bottom: 20px; }
  /* line 470, ../scss/sp.scss */
  .cont_08 li {
    margin-bottom: 40px; }
  /* line 473, ../scss/sp.scss */
  .cont_08 .ttl {
    width: 100%;
    background: #c6d5fd;
    height: auto;
    box-sizing: border-box;
    text-align: center; }
    /* line 479, ../scss/sp.scss */
    .cont_08 .ttl .num {
      float: none;
      width: auto;
      height: 1auto;
      margin-top: 10px; }
      /* line 484, ../scss/sp.scss */
      .cont_08 .ttl .num div {
        font-size: 16px;
        padding: 35px 0 0;
        width: 140px;
        height: 100px;
        margin: -30px auto 0; }
        /* line 490, ../scss/sp.scss */
        .cont_08 .ttl .num div .count {
          font-size: 30px;
          margin-top: 10px; }
    /* line 496, ../scss/sp.scss */
    .cont_08 .ttl h3 {
      text-align: center;
      font-size: 30px;
      line-height: 1.2;
      width: 100%;
      height: auto;
      margin-top: 20px;
      float: none;
      padding-bottom: 20px; }
  /* line 507, ../scss/sp.scss */
  .cont_08 .text_bg {
    width: 100%;
    padding: 60px 0 20px;
    background: url(../images/spebg_01.png) no-repeat center center;
    background-size: cover; }
    /* line 512, ../scss/sp.scss */
    .cont_08 .text_bg .textbox {
      width: 90%;
      margin-left: 10%;
      padding: 10px;
      box-sizing: border-box; }
      /* line 517, ../scss/sp.scss */
      .cont_08 .text_bg .textbox p {
        margin-bottom: 15px;
        font-size: 16px;
        text-align: left;
        line-height: 1.4; }
  /* line 526, ../scss/sp.scss */
  .cont_08 .list_09 .text_bg {
    background: url(../images/spebg_09.png) no-repeat center center; }
  /* line 530, ../scss/sp.scss */
  .cont_08 .list_09 .ttl h3 {
    margin-top: 20px;
    height: auto; }
  /* line 539, ../scss/sp.scss */
  .cont_08 .list_11 .ttl h3 {
    margin-top: 20px;
    height: auto; }

/* line 547, ../scss/sp.scss */
.cont_09 {
  padding-bottom: 20px; }
  /* line 550, ../scss/sp.scss */
  .cont_09 .cont_09_01 {
    width: 90%;
    margin: -8% auto 0;
    border: 6px solid #91aefd;
    padding-top: 40px; }
    /* line 556, ../scss/sp.scss */
    .cont_09 .cont_09_01 p {
      width: 90%;
      margin: 0 auto 15px; }
      /* line 559, ../scss/sp.scss */
      .cont_09 .cont_09_01 p :last-of-type {
        margin-bottom: 0; }

/* line 565, ../scss/sp.scss */
.cont_10 {
  border-top: 6px solid #2f9aa3; }
  /* line 568, ../scss/sp.scss */
  .cont_10 .cont_10_1 {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0; }
  /* line 573, ../scss/sp.scss */
  .cont_10 .psex {
    width: 100%;
    height: 75px;
    background: #2f9aa3;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 20px; }
    /* line 580, ../scss/sp.scss */
    .cont_10 .psex img {
      width: 40%; }
  /* line 584, ../scss/sp.scss */
  .cont_10 .cont_10_2 {
    width: 100%;
    border: 4px solid #2f9aa3;
    padding: 20px 10px;
    box-sizing: border-box; }
    /* line 590, ../scss/sp.scss */
    .cont_10 .cont_10_2 a {
      margin: 20px 0;
      display: block; }
      /* line 594, ../scss/sp.scss */
      .cont_10 .cont_10_2 a :hover {
        opacity: 0.8; }
    /* line 598, ../scss/sp.scss */
    .cont_10 .cont_10_2 .text_07 {
      text-align: left;
      width: 100%;
      margin: 20px auto; }

/* line 606, ../scss/sp.scss */
.cont_11 {
  padding: 20px 0; }
  /* line 609, ../scss/sp.scss */
  .cont_11 .cont_11_1 {
    border: 4px solid #7a6b4d;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto; }
    /* line 614, ../scss/sp.scss */
    .cont_11 .cont_11_1 img {
      margin-left: -3.8%;
      margin-top: -4px; }
    /* line 618, ../scss/sp.scss */
    .cont_11 .cont_11_1 p {
      width: 95%;
      margin: 10px auto 15px;
      text-align: left; }
      /* line 622, ../scss/sp.scss */
      .cont_11 .cont_11_1 p :last-of-type {
        margin-bottom: 0; }

/* line 628, ../scss/sp.scss */
.cont_12 {
  padding: 20px 0; }
  /* line 631, ../scss/sp.scss */
  .cont_12 .cont_12_1 {
    padding: 20px 0;
    width: 95%;
    margin: 0 auto; }
    /* line 636, ../scss/sp.scss */
    .cont_12 .cont_12_1 .cont_12_2 {
      background: rgba(255, 255, 255, 0.7);
      width: 95%;
      margin: 20px auto 0;
      padding: 20px 0; }
    /* line 642, ../scss/sp.scss */
    .cont_12 .cont_12_1 h3 {
      border-bottom: 4px dotted #7a6b4d;
      padding-bottom: 5px;
      width: 90%;
      margin: 20px auto 0; }
    /* line 648, ../scss/sp.scss */
    .cont_12 .cont_12_1 p {
      width: 90%;
      margin: 15px auto 0; }

/* line 654, ../scss/sp.scss */
.cont_13 {
  padding: 20px 0 20px;
  width: 95%;
  margin: 0 auto; }
  /* line 659, ../scss/sp.scss */
  .cont_13 ul li {
    width: 100%;
    margin: 0 auto 40px; }
    /* line 662, ../scss/sp.scss */
    .cont_13 ul li h3 {
      background-size: 60px;
      min-height: 60px;
      line-height: 1.4;
      padding-left: 70px;
      padding-top: 10px;
      box-sizing: border-box;
      font-size: 18px;
      height: auto;
      margin-bottom: 40px; }
    /* line 673, ../scss/sp.scss */
    .cont_13 ul li .a_box {
      width: 95%;
      margin: 0 auto;
      border: 1px solid #0b62a9;
      background-color: #fff;
      position: relative;
      text-align: left;
      padding: 40px 10px 20px;
      box-sizing: border-box; }
      /* line 682, ../scss/sp.scss */
      .cont_13 ul li .a_box img {
        position: absolute;
        top: -30px;
        left: -2.5%;
        width: 60px; }
      /* line 688, ../scss/sp.scss */
      .cont_13 ul li .a_box p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px; }
  /* line 696, ../scss/sp.scss */
  .cont_13 ul .col_sec h3 {
    line-height: 1.2; }

/* line 702, ../scss/sp.scss */
.cont_14 {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto; }
  /* line 706, ../scss/sp.scss */
  .cont_14 .letter {
    padding: 0 10px;
    box-sizing: border-box; }
    /* line 709, ../scss/sp.scss */
    .cont_14 .letter h2 {
      font-size: 40px;
      text-align: center;
      padding: 40px 0; }
    /* line 714, ../scss/sp.scss */
    .cont_14 .letter div {
      text-align: left;
      font-size: 16px;
      line-height: 1.4; }
      /* line 718, ../scss/sp.scss */
      .cont_14 .letter div p {
        margin-bottom: 15px; }
    /* line 722, ../scss/sp.scss */
    .cont_14 .letter .righttext {
      text-align: right; }
      /* line 724, ../scss/sp.scss */
      .cont_14 .letter .righttext img {
        width: 150px;
        display: block;
        margin-left: calc(100% - 150px); }

/* line 732, ../scss/sp.scss */
.cont_15 {
  padding: 20px 0 20px;
  width: 95%; }
  /* line 736, ../scss/sp.scss */
  .cont_15 a {
    display: block; }
    /* line 739, ../scss/sp.scss */
    .cont_15 a img {
      margin-bottom: 20px; }
  /* line 743, ../scss/sp.scss */
  .cont_15 .q_link {
    margin-bottom: 20px;
    color: #fd5d26; }
  /* line 747, ../scss/sp.scss */
  .cont_15 .text_min {
    text-align: center;
    margin-bottom: 20px; }

/* line 752, ../scss/sp.scss */
.cont_16 {
  text-align: left;
  padding: 40px 0 40px;
  background: #fff; }
  /* line 756, ../scss/sp.scss */
  .cont_16 ul {
    width: 95%;
    margin: 0 auto; }
    /* line 759, ../scss/sp.scss */
    .cont_16 ul li {
      padding: 20px; }
      /* line 761, ../scss/sp.scss */
      .cont_16 ul li img {
        float: left;
        width: 20%; }
      /* line 765, ../scss/sp.scss */
      .cont_16 ul li p {
        float: right;
        width: 75%; }

/* line 772, ../scss/sp.scss */
.cont_17 {
  position: relative;
  background: url(../images/bg_07.png) no-repeat left top;
  background-size: cover;
  padding: 40px 0 60px; }
  /* line 777, ../scss/sp.scss */
  .cont_17 h2 {
    width: 90%;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: bold;
    color: #313131;
    line-height: 1.4;
    padding: 40px 0; }
    /* line 786, ../scss/sp.scss */
    .cont_17 h2 .dec_01 {
      color: #1463ad;
      font-size: 20px; }
    /* line 790, ../scss/sp.scss */
    .cont_17 h2 .dec_02 {
      color: #317bbf; }
