/* line 3, ../scss/style.scss */
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc; }

/* line 13, ../scss/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 17, ../scss/style.scss */
.sp {
  display: none; }

/* line 20, ../scss/style.scss */
.pc {
  display: block; }

/* line 24, ../scss/style.scss */
.text_01 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px; }

/* line 29, ../scss/style.scss */
.text_02 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px; }

/* line 34, ../scss/style.scss */
.text_03 {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px; }

/* line 39, ../scss/style.scss */
.text_04 {
  font-size: 25px;
  line-height: 40px; }

/* line 43, ../scss/style.scss */
.text_05 {
  font-size: 50px;
  line-height: 60px; }

/* line 47, ../scss/style.scss */
.text_06 {
  font-size: 40px;
  line-height: 50px; }

/* line 51, ../scss/style.scss */
.text_07 {
  font-size: 30px;
  line-height: 40px; }

/* line 55, ../scss/style.scss */
.text_min {
  font-size: 16px;
  line-height: 20px;
  text-align: left; }

/* line 60, ../scss/style.scss */
.color_blue1 {
  color: #517ffc; }

/* line 63, ../scss/style.scss */
.color_blue2 {
  color: #2f66fc; }

/* line 66, ../scss/style.scss */
.color_blue3 {
  color: #386cfc; }

/* line 69, ../scss/style.scss */
.color_black {
  color: #3f3f3f; }

/* line 72, ../scss/style.scss */
.color_brown {
  color: #7a6745; }

/* line 76, ../scss/style.scss */
.baloon_1 {
  position: relative;
  display: inline-block;
  line-height: 160px;
  width: 100%;
  height: 160px;
  color: #FFF;
  text-align: center;
  background: #4d412b;
  z-index: 0;
  font-size: 50px; }
  /* line 87, ../scss/style.scss */
  .baloon_1:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #4d412b transparent transparent transparent; }

/* line 100, ../scss/style.scss */
.baloon_2 {
  position: relative;
  display: inline-block;
  line-height: 160px;
  width: 100%;
  height: 160px;
  color: #FFF;
  text-align: center;
  background: #386cfc;
  z-index: 0;
  font-size: 50px; }
  /* line 111, ../scss/style.scss */
  .baloon_2:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #386cfc transparent transparent transparent; }

/* line 124, ../scss/style.scss */
.baloon_3 {
  position: relative;
  display: inline-block;
  line-height: 180px;
  width: 100%;
  height: 160px;
  color: #FFF;
  text-align: center;
  background: #386cfc;
  z-index: 0;
  font-size: 50px;
  margin-bottom: 20px; }
  /* line 137, ../scss/style.scss */
  .baloon_3:after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0%;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 60px 600px 0 600px;
    border-color: #386cfc transparent transparent transparent; }

/* line 151, ../scss/style.scss */
.cont_01 .text_01 {
  margin: 10px auto 20px; }

/* line 157, ../scss/style.scss */
.cont_02 {
  background: #e4ebfc;
  padding-bottom: 60px; }
  /* line 160, ../scss/style.scss */
  .cont_02 .bg_01 {
    margin: 10px auto 20px;
    background: url(../images/bg_01.png) repeat-x left center; }
  /* line 164, ../scss/style.scss */
  .cont_02 .text_01 {
    margin: 60px; }
  /* line 167, ../scss/style.scss */
  .cont_02 img {
    width: 70%;
    margin: 20px auto 60px; }

/* line 172, ../scss/style.scss */
.cont_03 {
  width: 90%;
  margin: 0 auto;
  background: #eae6de;
  border: 10px solid #f8c798;
  padding: 20px;
  box-sizing: border-box;
  text-align: left; }
  /* line 181, ../scss/style.scss */
  .cont_03 img {
    display: block;
    text-align: left;
    width: 70%;
    margin: 0 0 30px 0; }
  /* line 188, ../scss/style.scss */
  .cont_03 p {
    margin-bottom: 20px; }

/* line 192, ../scss/style.scss */
.cont_04 {
  background: #e4ebfc;
  background-image: url(../images/bg_02.png);
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 60px; }
  /* line 200, ../scss/style.scss */
  .cont_04 .cont_04_01 {
    width: 90%;
    margin: 0 auto;
    text-align: left; }
    /* line 204, ../scss/style.scss */
    .cont_04 .cont_04_01 p {
      margin: 40px 0 0;
      width: 60%; }
    /* line 208, ../scss/style.scss */
    .cont_04 .cont_04_01 ul {
      background: rgba(255, 255, 255, 0.7);
      width: 100%;
      margin: 60px auto;
      border: 4px solid #666872;
      border-radius: 3px;
      padding: 30px;
      box-sizing: border-box; }
      /* line 217, ../scss/style.scss */
      .cont_04 .cont_04_01 ul li {
        margin-bottom: 30px;
        background: url(../images/icon_01.png) no-repeat left top;
        padding-left: 50px;
        box-sizing: border-box; }
    /* line 224, ../scss/style.scss */
    .cont_04 .cont_04_01 .text_05 {
      font-size: 30px;
      line-height: 50px; }
    /* line 228, ../scss/style.scss */
    .cont_04 .cont_04_01 .cont_04_02 {
      text-align: center; }
      /* line 230, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_02 p {
        margin: 40px auto;
        font-weight: bold; }
      /* line 234, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_02 span {
        margin-top: 20px; }
      /* line 237, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_02 img {
        width: 100%; }
    /* line 241, ../scss/style.scss */
    .cont_04 .cont_04_01 .cont_04_03 {
      background: url(../images/bg_03.png) left top;
      box-shadow: 0 0 2px #000;
      padding: 20px;
      box-sizing: border-box;
      text-align: left; }
      /* line 247, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_03 p {
        width: 90%;
        margin: 0 auto 40px;
        font-weight: normal; }
      /* line 252, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_03 .img_01 {
        margin: 40px auto;
        width: 70%; }
      /* line 256, ../scss/style.scss */
      .cont_04 .cont_04_01 .cont_04_03 .img_02 {
        margin: 0 auto;
        width: 50%; }

/* line 263, ../scss/style.scss */
.cont_05 {
  background: #fffbf3;
  padding-bottom: 60px; }
  /* line 267, ../scss/style.scss */
  .cont_05 .cont_05_01 {
    margin: 70px auto 100px;
    width: 90%; }
    /* line 271, ../scss/style.scss */
    .cont_05 .cont_05_01 p {
      margin-bottom: 40px; }
  /* line 275, ../scss/style.scss */
  .cont_05 .cont_05_02 {
    background: #fff;
    border: 10px solid #c8b28b;
    width: 90%;
    margin: 0 auto;
    padding: 60px 10px;
    box-sizing: border-box;
    text-align: left; }
    /* line 284, ../scss/style.scss */
    .cont_05 .cont_05_02 ul {
      width: 90%;
      margin: 0 auto; }
      /* line 288, ../scss/style.scss */
      .cont_05 .cont_05_02 ul li h3 {
        width: 100%;
        height: 100px;
        line-height: 100px;
        background: #7d6a48;
        color: #fff;
        font-size: 30px;
        padding-left: 20px;
        box-sizing: border-box;
        position: relative; }
        /* line 298, ../scss/style.scss */
        .cont_05 .cont_05_02 ul li h3:after {
          position: absolute;
          content: '';
          width: 0px;
          height: 0px;
          z-index: 1;
          top: 0;
          right: 0;
          border-width: 50px 80px 50px 0px;
          border-color: transparent #fff transparent transparent;
          border-style: solid; }
      /* line 311, ../scss/style.scss */
      .cont_05 .cont_05_02 ul li p {
        font-size: 25px;
        line-height: 40px;
        padding: 40px 0; }
  /* line 320, ../scss/style.scss */
  .cont_05 .text_01 {
    margin: 60px auto 0; }

/* line 324, ../scss/style.scss */
.cont_06 {
  background: #e4ebfc;
  padding: 60px 0; }
  /* line 328, ../scss/style.scss */
  .cont_06 .cont_06_01 {
    width: 90%;
    margin: 0 auto 40px; }
  /* line 332, ../scss/style.scss */
  .cont_06 .cont_06_02 {
    margin: 40px auto;
    background: #fff;
    padding: 40px 0 20px; }
    /* line 336, ../scss/style.scss */
    .cont_06 .cont_06_02 p {
      margin-bottom: 20px; }
  /* line 340, ../scss/style.scss */
  .cont_06 .cont_06_03 {
    text-align: left;
    width: 90%;
    margin: 40px auto;
    margin-bottom: 40px; }
  /* line 347, ../scss/style.scss */
  .cont_06 .cont_06_04 img {
    width: 100%; }
  /* line 350, ../scss/style.scss */
  .cont_06 .cont_06_04 .cont_06_05 {
    background: #aac3fe;
    padding: 100px 0 40px;
    width: 90%;
    margin: -50px auto 0; }
  /* line 356, ../scss/style.scss */
  .cont_06 .cont_06_04 li {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    padding: 40px;
    box-sizing: border-box; }
    /* line 365, ../scss/style.scss */
    .cont_06 .cont_06_04 li img {
      margin: -8% 0 40px -8%; }
    /* line 369, ../scss/style.scss */
    .cont_06 .cont_06_04 li p {
      margin-bottom: 40px; }
      /* line 371, ../scss/style.scss */
      .cont_06 .cont_06_04 li p :last-of-type {
        margin-bottom: 0; }
    /* line 375, ../scss/style.scss */
    .cont_06 .cont_06_04 li .memo {
      margin: 60px auto;
      width: 100%;
      background: url(../images/bg_06.png) left top;
      box-shadow: 1px 1px 2px #666;
      position: relative;
      padding: 80px 0 20px; }
      /* line 382, ../scss/style.scss */
      .cont_06 .cont_06_04 li .memo .pin_l {
        width: 40px;
        position: absolute;
        left: 20px;
        top: -10px;
        margin-bottom: 0; }
        /* line 388, ../scss/style.scss */
        .cont_06 .cont_06_04 li .memo .pin_l img {
          width: 100%; }
      /* line 392, ../scss/style.scss */
      .cont_06 .cont_06_04 li .memo .pin_r {
        width: 40px;
        position: absolute;
        right: 20px;
        top: -10px;
        margin-bottom: 0; }
        /* line 398, ../scss/style.scss */
        .cont_06 .cont_06_04 li .memo .pin_r img {
          width: 100%; }
      /* line 403, ../scss/style.scss */
      .cont_06 .cont_06_04 li .memo ul li {
        background-color: transparent;
        margin-bottom: 30px;
        background: url(../images/icon_01.png) no-repeat left top;
        padding: 0 0 0 60px;
        box-sizing: border-box;
        height: auto;
        font-size: 35px;
        line-height: 42px;
        color: #2a87fc; }
  /* line 417, ../scss/style.scss */
  .cont_06 .cont_06_04 .arrow_01 {
    width: 50%;
    margin: 0 auto 20px; }
  /* line 422, ../scss/style.scss */
  .cont_06 .cont_06_06 {
    width: 88%;
    margin: 100px auto 0;
    border: 10px solid #bcb2a4;
    border-radius: 5px;
    background: url(../images/bg_03.png) left top; }
    /* line 431, ../scss/style.scss */
    .cont_06 .cont_06_06 .cont_06_07 ul {
      margin-top: 80px; }
      /* line 434, ../scss/style.scss */
      .cont_06 .cont_06_06 .cont_06_07 ul li {
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 5px #444;
        width: 90%;
        margin-bottom: 40px; }
        /* line 441, ../scss/style.scss */
        .cont_06 .cont_06_06 .cont_06_07 ul li .ttl {
          background: #bcb2a4;
          border-radius: 5px;
          padding: 10px 20px;
          width: 150px;
          text-align: center;
          font-size: 20px;
          color: #7d6439;
          margin: -9% auto 20px; }
      /* line 452, ../scss/style.scss */
      .cont_06 .cont_06_06 .cont_06_07 ul audio {
        margin-bottom: 40px;
        border: 1px solid #ccc; }
  /* line 459, ../scss/style.scss */
  .cont_06 .cont_06_07 {
    background: #e4ebfc;
    padding: 60px 0; }
    /* line 463, ../scss/style.scss */
    .cont_06 .cont_06_07 img {
      margin-bottom: 40px;
      max-width: 80%; }
    /* line 468, ../scss/style.scss */
    .cont_06 .cont_06_07 p {
      width: 90%;
      margin: 0 auto 40px; }
      /* line 471, ../scss/style.scss */
      .cont_06 .cont_06_07 p :last-of-type {
        margin-bottom: 0; }
  /* line 477, ../scss/style.scss */
  .cont_06 .cont_06_08 {
    text-align: left;
    padding: 60px 0 20px; }
    /* line 481, ../scss/style.scss */
    .cont_06 .cont_06_08 p {
      width: 90%;
      margin: 0 auto 40px; }
      /* line 484, ../scss/style.scss */
      .cont_06 .cont_06_08 p :last-of-type {
        margin-bottom: 0; }
    /* line 488, ../scss/style.scss */
    .cont_06 .cont_06_08 ul {
      margin: 40px 0 60px 5%; }
      /* line 492, ../scss/style.scss */
      .cont_06 .cont_06_08 ul li {
        margin-bottom: 20px; }
    /* line 496, ../scss/style.scss */
    .cont_06 .cont_06_08 .text_02 {
      color: #2f9aa3;
      text-align: center; }
  /* line 501, ../scss/style.scss */
  .cont_06 .cont_06_09 {
    background: url(../images/img_36.png) no-repeat right bottom;
    background-size: cover;
    margin-top: -40px;
    text-align: left; }
    /* line 506, ../scss/style.scss */
    .cont_06 .cont_06_09 p {
      width: 90%;
      margin: 0 auto 40px;
      text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #fff; }
      /* line 510, ../scss/style.scss */
      .cont_06 .cont_06_09 p :last-of-type {
        margin-bottom: 0; }
    /* line 514, ../scss/style.scss */
    .cont_06 .cont_06_09 .cont_06_10 {
      background: rgba(255, 255, 255, 0.7);
      padding: 100px 10px 60px;
      box-sizing: border-box; }

/* line 521, ../scss/style.scss */
.cont_07 {
  text-align: left;
  padding: 80px 0 20px; }
  /* line 524, ../scss/style.scss */
  .cont_07 p {
    width: 90%;
    margin: 0 auto 40px; }
    /* line 527, ../scss/style.scss */
    .cont_07 p :last-of-type {
      margin-bottom: 0; }
  /* line 531, ../scss/style.scss */
  .cont_07 img {
    margin-bottom: 40px; }
  /* line 534, ../scss/style.scss */
  .cont_07 ul {
    background: #d3dffb;
    width: 90%;
    margin: 60px auto;
    border: 4px solid #aac3fe;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; }
    /* line 543, ../scss/style.scss */
    .cont_07 ul li {
      margin-bottom: 30px;
      background: url(../images/icon_01.png) no-repeat left top;
      padding-left: 60px;
      box-sizing: border-box;
      height: 42px;
      font-size: 35px;
      line-height: 42px;
      color: #2a87fc; }

/* line 555, ../scss/style.scss */
.cont_08 {
  padding-bottom: 40px;
  background: #d3dffb; }
  /* line 558, ../scss/style.scss */
  .cont_08 li {
    margin-bottom: 60px; }
  /* line 561, ../scss/style.scss */
  .cont_08 .ttl {
    width: 100%;
    background: #c6d5fd;
    height: 170px;
    box-sizing: border-box; }
    /* line 566, ../scss/style.scss */
    .cont_08 .ttl .num {
      float: left;
      width: 30%;
      height: 130px;
      margin-top: 10px; }
      /* line 571, ../scss/style.scss */
      .cont_08 .ttl .num div {
        background: #2f9aa3;
        color: #fff;
        font-size: 25px;
        padding: 35px 0 0;
        width: 200px;
        height: 165px;
        margin: -30px auto 0;
        border-radius: 50%; }
        /* line 580, ../scss/style.scss */
        .cont_08 .ttl .num div .count {
          font-size: 70px;
          margin-top: 10px; }
    /* line 586, ../scss/style.scss */
    .cont_08 .ttl h3 {
      color: #2f9aa3;
      text-align: left;
      font-size: 50px;
      line-height: 1.2;
      width: 70%;
      height: 130px;
      margin-top: 20px;
      float: left; }
  /* line 597, ../scss/style.scss */
  .cont_08 .text_bg {
    width: 100%;
    padding: 120px 0 40px;
    background: url(../images/spebg_01.png) no-repeat center center;
    background-size: cover; }
    /* line 602, ../scss/style.scss */
    .cont_08 .text_bg .textbox {
      width: 70%;
      margin-left: 30%;
      background: rgba(255, 255, 255, 0.7);
      padding: 20px;
      box-sizing: border-box; }
      /* line 608, ../scss/style.scss */
      .cont_08 .text_bg .textbox p {
        margin-bottom: 15px;
        font-size: 30px;
        text-align: left;
        line-height: 1.4; }
  /* line 617, ../scss/style.scss */
  .cont_08 .list_02 .text_bg {
    background: url(../images/spebg_02.png) no-repeat center center; }
  /* line 622, ../scss/style.scss */
  .cont_08 .list_03 .text_bg {
    background: url(../images/spebg_03.png) no-repeat center center; }
  /* line 627, ../scss/style.scss */
  .cont_08 .list_04 .text_bg {
    background: url(../images/spebg_04.png) no-repeat center center; }
  /* line 632, ../scss/style.scss */
  .cont_08 .list_05 .text_bg {
    background: url(../images/spebg_05.png) no-repeat center center; }
  /* line 637, ../scss/style.scss */
  .cont_08 .list_06 .text_bg {
    background: url(../images/spebg_06.png) no-repeat center center; }
  /* line 642, ../scss/style.scss */
  .cont_08 .list_07 .text_bg {
    background: url(../images/spebg_07.png) no-repeat center center; }
  /* line 647, ../scss/style.scss */
  .cont_08 .list_08 .text_bg {
    background: url(../images/spebg_08.png) no-repeat center center; }
  /* line 652, ../scss/style.scss */
  .cont_08 .list_09 .text_bg {
    background: url(../images/spebg_09.png) no-repeat center center; }
  /* line 656, ../scss/style.scss */
  .cont_08 .list_09 .ttl h3 {
    margin-top: 55px;
    height: 95px; }
  /* line 663, ../scss/style.scss */
  .cont_08 .list_10 .text_bg {
    background: url(../images/spebg_10.png) no-repeat center center; }
  /* line 668, ../scss/style.scss */
  .cont_08 .list_11 .text_bg {
    background: url(../images/spebg_11.png) no-repeat center center; }
  /* line 672, ../scss/style.scss */
  .cont_08 .list_11 .ttl h3 {
    margin-top: 55px;
    height: 95px; }
  /* line 679, ../scss/style.scss */
  .cont_08 .list_12 .text_bg {
    background: url(../images/spebg_12.png) no-repeat center center; }

/* line 684, ../scss/style.scss */
.cont_09 {
  padding-bottom: 40px;
  background: #e4ebfc;
  padding-top: 60px; }
  /* line 689, ../scss/style.scss */
  .cont_09 .cont_09_01 {
    width: 90%;
    margin: 0 auto 0;
    background: #fff;
    border: 10px solid #91aefd;
    text-align: left;
    padding-top: 100px; }
    /* line 697, ../scss/style.scss */
    .cont_09 .cont_09_01 p {
      width: 90%;
      margin: 0 auto 40px; }
      /* line 700, ../scss/style.scss */
      .cont_09 .cont_09_01 p :last-of-type {
        margin-bottom: 0; }

/* line 706, ../scss/style.scss */
.cont_10 {
  border-top: 10px solid #2f9aa3;
  background: #e1fafc; }
  /* line 710, ../scss/style.scss */
  .cont_10 .cont_10_1 {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0; }
  /* line 715, ../scss/style.scss */
  .cont_10 .psex {
    width: 100%;
    height: 110px;
    background: #2f9aa3;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 60px; }
  /* line 723, ../scss/style.scss */
  .cont_10 .cont_10_2 {
    width: 100%;
    background: #fff;
    border: 4px solid #2f9aa3;
    padding: 60px 10px;
    box-sizing: border-box; }
    /* line 730, ../scss/style.scss */
    .cont_10 .cont_10_2 a {
      margin: 60px 0;
      display: block; }
      /* line 734, ../scss/style.scss */
      .cont_10 .cont_10_2 a :hover {
        opacity: 0.8; }
    /* line 738, ../scss/style.scss */
    .cont_10 .cont_10_2 .text_02 {
      color: #2f9aa3; }
    /* line 741, ../scss/style.scss */
    .cont_10 .cont_10_2 .text_07 {
      text-align: left;
      width: 80%;
      margin: 20px auto; }
    /* line 746, ../scss/style.scss */
    .cont_10 .cont_10_2 .q_link {
      color: #fd5d26;
      text-align: center; }

/* line 753, ../scss/style.scss */
.cont_11 {
  background: #fefaf2;
  padding: 60px 0; }
  /* line 757, ../scss/style.scss */
  .cont_11 .cont_11_1 {
    background: #fff;
    border: 4px solid #7a6b4d;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto; }
    /* line 763, ../scss/style.scss */
    .cont_11 .cont_11_1 img {
      margin-left: -3.8%;
      margin-top: -4px; }
    /* line 767, ../scss/style.scss */
    .cont_11 .cont_11_1 p {
      width: 90%;
      margin: 40px auto 40px;
      text-align: left; }
      /* line 771, ../scss/style.scss */
      .cont_11 .cont_11_1 p :last-of-type {
        margin-bottom: 0; }

/* line 777, ../scss/style.scss */
.cont_12 {
  padding: 60px 0; }
  /* line 780, ../scss/style.scss */
  .cont_12 .cont_12_1 {
    background: url(../images/bg_4.png) left top;
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
    text-align: left; }
    /* line 787, ../scss/style.scss */
    .cont_12 .cont_12_1 h2 {
      text-align: center;
      color: #7a6b4d; }
    /* line 791, ../scss/style.scss */
    .cont_12 .cont_12_1 .cont_12_2 {
      background: rgba(255, 255, 255, 0.7);
      width: 90%;
      margin: 60px auto 0;
      padding: 40px 0; }
    /* line 797, ../scss/style.scss */
    .cont_12 .cont_12_1 h3 {
      color: #7a6b4d;
      border-bottom: 4px dotted #7a6b4d;
      padding-bottom: 5px;
      width: 90%;
      margin: 40px auto 0; }
    /* line 804, ../scss/style.scss */
    .cont_12 .cont_12_1 p {
      width: 90%;
      margin: 40px auto 0; }

/* line 810, ../scss/style.scss */
.cont_13 {
  background: #f2f5fd;
  padding: 20px 0 60px;
  width: 90%;
  margin: 0 auto; }
  /* line 816, ../scss/style.scss */
  .cont_13 ul li {
    width: 95%;
    margin: 0 auto 40px; }
    /* line 819, ../scss/style.scss */
    .cont_13 ul li h3 {
      background: url(../images/icon_q.png) no-repeat left top;
      height: 130px;
      line-height: 130px;
      padding-left: 150px;
      box-sizing: border-box;
      text-align: left;
      font-size: 40px;
      color: #3dc3c5; }
    /* line 829, ../scss/style.scss */
    .cont_13 ul li .a_box {
      width: 90%;
      margin-left: 10%;
      border: 1px solid #0b62a9;
      background-color: #fff;
      position: relative;
      text-align: left;
      padding: 60px 40px 40px;
      box-sizing: border-box; }
      /* line 838, ../scss/style.scss */
      .cont_13 ul li .a_box img {
        position: absolute;
        top: -40px;
        left: -30px; }
      /* line 843, ../scss/style.scss */
      .cont_13 ul li .a_box p {
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 25px; }
  /* line 851, ../scss/style.scss */
  .cont_13 ul .col_sec h3 {
    line-height: 1.2; }

/* line 857, ../scss/style.scss */
.cont_14 {
  padding: 60px 0;
  width: 80%;
  margin: 0 auto; }
  /* line 861, ../scss/style.scss */
  .cont_14 .letter {
    background: url(../images/bg_05.png) left top;
    border: 1px solid #bebcbc;
    padding: 0 20px;
    box-sizing: border-box; }
    /* line 866, ../scss/style.scss */
    .cont_14 .letter h2 {
      font-size: 80px;
      text-align: center;
      padding: 80px 0;
      color: #3f3f3f; }
    /* line 872, ../scss/style.scss */
    .cont_14 .letter div {
      text-align: left;
      font-size: 25px;
      line-height: 1.4;
      color: #3f3f3f; }
      /* line 877, ../scss/style.scss */
      .cont_14 .letter div p {
        margin-bottom: 25px; }
    /* line 881, ../scss/style.scss */
    .cont_14 .letter .righttext {
      text-align: right; }
      /* line 883, ../scss/style.scss */
      .cont_14 .letter .righttext img {
        width: 257px;
        display: block;
        margin-left: calc(100% - 257px); }

/* line 891, ../scss/style.scss */
.cont_15 {
  padding: 60px 0 40px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }
  /* line 897, ../scss/style.scss */
  .cont_15 a {
    display: block; }
    /* line 900, ../scss/style.scss */
    .cont_15 a img {
      margin-bottom: 20px; }
  /* line 904, ../scss/style.scss */
  .cont_15 .q_link {
    margin-bottom: 60px;
    color: #fd5d26; }
  /* line 908, ../scss/style.scss */
  .cont_15 .text_min {
    text-align: center; }

/* line 913, ../scss/style.scss */
.cont_16 {
  text-align: left;
  padding: 80px 0 80px;
  background: #fff; }
  /* line 917, ../scss/style.scss */
  .cont_16 ul {
    width: 90%;
    margin: 0 auto; }
    /* line 920, ../scss/style.scss */
    .cont_16 ul li {
      width: 100%;
      border-bottom: #386cfc 1px solid;
      padding: 40px;
      box-sizing: border-box; }
      /* line 925, ../scss/style.scss */
      .cont_16 ul li img {
        float: left;
        width: 20%; }
      /* line 929, ../scss/style.scss */
      .cont_16 ul li p {
        float: right;
        width: 70%; }
      /* line 933, ../scss/style.scss */
      .cont_16 ul li:last-of-type {
        border-bottom: none; }

/* line 939, ../scss/style.scss */
.cont_17 {
  position: relative;
  background: url(../images/bg_07.png) no-repeat left top;
  background-size: contein;
  width: 100%;
  padding: 60px 0 200px; }
  /* line 945, ../scss/style.scss */
  .cont_17 h2 {
    width: 70%;
    margin-left: 30%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 45px;
    font-weight: bold;
    color: #313131;
    line-height: 1.4;
    padding: 60px 0; }
    /* line 954, ../scss/style.scss */
    .cont_17 h2 .dec_01 {
      color: #1463ad;
      font-size: 55px; }
    /* line 958, ../scss/style.scss */
    .cont_17 h2 .dec_02 {
      color: #317bbf; }
