@charset "UTF-8";

body{
    width:100%;
    max-width:100%;
    border-left:none;
    border-right:none
}
.sp{
    display:block;
}
.pc{
    display:none;
}
.baloon_1{
    line-height: 100px;
    height: 100px;
    font-size:18px;
    &:after{
        bottom: -20px; left: 50%;
        margin-left: -20px;
        border-width: 20px 20px 0 20px;
    }
}
.baloon_2{
    line-height: 100px;
    height: 100px;
    font-size:18px;
    &:after{
        bottom: -20px; left: 50%;
        margin-left: -20px;
        border-width: 20px 20px 0 20px;
    }
}
.baloon_3{
    line-height: 100px;
    height: 100px;
    font-size:18px;
    margin-bottom: 40px;

    &:after{
        bottom: -40px;
        left: calc(50% - 60px);
        border-width: 40px 60px 0 60px;
    }
}
@media screen and (max-width:639px) {

    .text_01{
        font-size:16px;
        font-weight: bold;
        line-height: 26px;
    }
    .text_02{
        font-size:20px;
        font-weight: bold;
        line-height:30px;
    }
    .text_03{
        font-size:14px;
        font-weight: bold;
        line-height:24px;
    }
    .text_04{
        font-size:14px;
        line-height:24px;
    }
    .text_05{
        font-size:20px !important;
        line-height:30px !important;
    }
    .text_06{
        font-size:16px;
        line-height:26px;
    }
    .text_07{
        font-size:14px;
        line-height:20px;
    }
    .text_min{
        font-size:10px;
        line-height:12px;
        text-align: left;
    }
}
@media screen and (min-width:640px) and (max-width:1119px) {
    .cont_06{
        .cont_06_04{
            li{
                img{
                    margin:-5% 0 20px -5% !important;
                }
            }
        }
    }
}
.cont_01{
    .text_01{
        margin:10px auto 20px;
    }

}

.cont_02{
    padding-bottom:40px;
    .bg_01{
        margin:0 0 0 0;
    }
    .text_01{
        margin:10px;
    }
    img{
        width:90%;
        margin:20px auto 20px;
    }
}
.cont_03{
    width:95%;
    margin:0 auto;
    border:6px solid #f8c798;
    padding:10px;

    img{
        width: 100%;
        margin: 0 0 20px 0;
    }

    p{
        margin-bottom:10px;
    }
}
.cont_04{
    padding-bottom:40px;
    background-position:center 50px;

    .cont_04_01{
        width:95%;
        margin: 0 auto;
        p{
            margin:20px 0 0;
            width:100%;
        }
        ul{
            margin:20px auto;
            border:2px solid #666872;
            border-radius: 3px;
            padding:10px;
            box-sizing: border-box;

            li{
                margin-bottom:20px;
                background: url(../images/icon_01.png) no-repeat left top;
                padding-left:50px;
                box-sizing: border-box;
                min-height: 42px;
            }
        }
        .cont_04_02{
            text-align: center;
            p{
                margin:20px auto;
            }
            span{
                margin-top:10px;
            }
            img{
                width:100%;    
            }
        }
        .cont_04_03{
            padding:10px;
            box-sizing: border-box;
            p{
                width:95%;
                margin:0 auto 20px;
                font-weight: normal;
            }
            .img_01{
                margin:20px auto;
                width:80%;
            }
            .img_02{
                margin: 0 auto;
                width:60%;
            }
        }
    }
}
.cont_05{
    padding-bottom:20px;

    .cont_05_01{
        margin:40px auto 50px;
        width:95%;

        p{
            margin-bottom:20px;
        }
    }
    .cont_05_02{
        background:#fff;
        border: 10px solid #c8b28b;
        width:90%;
        margin: 0 auto;
        padding:20px 10px;
        box-sizing: border-box;
        text-align: left;

        ul{
            width:100%;
            margin: 0 auto;
            li{
                h3{
                    width:100%;
                    height:60px;
                    line-height: 60px;
                    font-size:16px;
                    padding-left:5px;
                    &:after{
                        border-width:30px 10px 30px 0px;
                    }
                }
                p{
                    font-size:16px;
                    line-height:1.4;
                    padding:20px 0;
                }
            }

        }
    }
    .text_01{
        margin:20px auto 0;
        width:95%;
    }
}
.cont_06{
    padding:40px 0 0;

    .cont_06_01{
        width:95%;
        margin:0 auto 20px;
    }
    .cont_06_02{
        margin: 20px auto;
        background:#fff;
        padding:20px 0 10px;
        p{
            margin-bottom:10px;
        }
    }
    .cont_06_03{
        text-align: left;
        width:95%;
        margin: 20px auto;
        margin-bottom:20px;
    }
    .cont_06_04{
        img{
            width:100%;
        }
        .cont_06_05{
            padding:60px 0 20px;
            width:100%;
            margin:-30px auto 0;
        }
        li{
            width:95%;
            margin:0 auto;
            padding:10px;
            box-sizing: border-box;

            img{
                margin:-8% 0 20px -8%;
            }

            p{
                margin-bottom:15px;
                :last-of-type{
                    margin-bottom:0;
                }
            }
        }
        .arrow_01{
            width:50%;
            margin:0 auto 20px;
        }
        li{
            .memo{
                margin:40px auto;
                width:100%;
                background:url(../images/bg_06.png) left top;
                box-shadow: 1px 1px 2px #666;
                position:relative;
                padding:40px 0 20px;
                .pin_l{
                    width:20px;
                    position:absolute;
                    left:10px;
                    top:-10px;
                    margin-bottom: 0;
                    img{
                        width:100%;
                    }
                }
                .pin_r{
                    width:20px;
                    position:absolute;
                    right:10px;
                    top:-10px;
                    margin-bottom: 0;
                    img{
                        width:100%;
                    }
                }       
                    ul{
                        li{
                            background-color:transparent;
                            margin-bottom:20px;
                            background: url(../images/icon_01.png) no-repeat left top;
                            background-size:20px; 
                            padding:0 0 0 40px;
                            box-sizing: border-box;
                            height:auto;
                            font-size:16px;
                            line-height: 1.2;
                        }
                    }
                }
        }
    }
    .cont_06_06{
        width:95%;
        margin:15% auto 0;
        border:6px solid #bcb2a4;
        border-radius:5px;
        background:url(../images/bg_03.png) left top;

        .cont_06_07{
            padding:20px 0;

            ul{
                margin-top:65px;

                li{
                    margin-top:20px; 
                    background:rgba(255,255,255,0.7);
                    box-shadow: 0px 0px 5px #444;
                    width:95%;
                    margin-bottom:40px;

                    .ttl{
                        background:#bcb2a4;
                        border-radius: 5px;
                        padding:10px 20px;
                        width:150px;
                        text-align: center;
                        font-size:20px;
                        color:#7d6439;
                        margin:-9% auto 20px;
                    }
                }
                audio{
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    width: 80%;
                }
            }
        }
    }
    .cont_06_07{
        padding:30px 0;

        img{
            margin-bottom:20px;
            max-width: 95%;
        }

        p{
            width:100%;
            margin:0 auto 20px;
            :last-of-type{
                margin-bottom:0;
            }
        }

    }
    .cont_06_08{
        text-align: left;
        padding:20px 0;

        p{
            width:95%;
            margin:0 auto 15px;
            :last-of-type{
                margin-bottom:0;
            }
        }
        ul{
            width:95%;
            margin:20px auto;


            li{
                margin-bottom:10px;
            }
        }
        .text_02{
            color:#2f9aa3;
            text-align: center;
        }
    }
    .cont_06_09{
        background:url(../images/img_36.png) no-repeat right bottom;
        background-size:cover;
        margin-top:-70px;
        text-align: left;
        p{
            width:95%;
            margin:0 auto 15px;
            text-shadow:0 0 0 #fff,0 0 0 #fff,0 0 0 #fff;
            
            :last-of-type{
                margin-bottom:0;
            } 
        }
        .cont_06_10{
            background:rgba(255,255,255,0.7);
            padding:100px 10px 60px;
        }
    }
}
.cont_07{
    text-align: left;
    padding:20px 0;
    p{
        width:95%;
        margin:0 auto 15px;
        :last-of-type{
            margin-bottom:0;
        }
    }
    img{
        margin-bottom:20px;
    }
    ul{
        width:95%;
        margin:20px auto;
        border:2px solid #aac3fe;
        border-radius: 6px;
        padding:10px;
        box-sizing: border-box;

        li{
            margin-bottom:10px;
            background: url(../images/icon_01.png) no-repeat left top;
            background-size:30px;
            padding-left:40px;
            min-height:30px;
            line-height: 1.2;
            padding-top:5px;
            box-sizing: border-box;
            font-size:16px;
            box-sizing: border-box;
        }
    }
}
.cont_08{
    padding-bottom:20px;
    li{
        margin-bottom:40px;
    }
    .ttl{
        width:100%;
        background:#c6d5fd;
        height:auto;
        box-sizing: border-box;
        text-align: center;
        .num{
            float:none;
            width:auto;
            height:1auto;
            margin-top:10px;
            div{
                font-size:16px;
                padding:35px 0 0;
                width:140px;
                height:100px;
                margin: -30px auto 0;
                .count{
                    font-size:30px;
                    margin-top:10px;
                }
            }
        }
        h3{
            text-align: center;
            font-size:30px;
            line-height: 1.2;
            width:100%;
            height:auto;
            margin-top:20px;
            float:none;
            padding-bottom:20px;
        }
    }
    .text_bg{
        width:100%;
        padding:60px 0 20px;
        background:url(../images/spebg_01.png) no-repeat center center;
        background-size:cover;
        .textbox{
            width:90%;
            margin-left:10%;
            padding:10px;
            box-sizing: border-box;
            p{
                margin-bottom:15px;
                font-size:16px;
                text-align: left;
                line-height: 1.4;
            }
        }
    }
    .list_09{
        .text_bg{
            background:url(../images/spebg_09.png) no-repeat center center;
        }
        .ttl{
            h3{
                margin-top:20px;
                height:auto;
            }
        }
    }
    .list_11{

        .ttl{
            h3{
                margin-top:20px;
                height:auto;
            }
        }
    }

}
.cont_09{
    padding-bottom:20px;

    .cont_09_01{
        width:90%;
        margin:-8% auto 0;
        border:6px solid #91aefd; 
        padding-top:40px;

        p{
            width:90%;
            margin:0 auto 15px;
            :last-of-type{
                margin-bottom:0;
            }
        }
    }
}
.cont_10{
    border-top:6px solid #2f9aa3;

    .cont_10_1{
        width:95%;
        margin:0 auto;
        padding:20px 0;
    }
    .psex{
        width:100%;
        height:75px;
        background:#2f9aa3;
        padding-top:20px;
        box-sizing: border-box;
        margin-top:20px;
        img{
            width:40%;
        }
    }
    .cont_10_2{
        width:100%;
        border:4px solid #2f9aa3;
        padding:20px 10px;
        box-sizing: border-box;

        a{
            margin:20px 0;
            display: block;

            :hover{
                opacity: 0.8;
            }
        }
        .text_07{
            text-align: left;
            width:100%;
            margin:20px auto;
        }
    }
}

.cont_11{
    padding:20px 0;

    .cont_11_1{
        border:4px solid #7a6b4d;
        box-sizing: border-box;
        width:95%;
        margin:0 auto;
        img{
            margin-left:-3.8%;
            margin-top:-4px;
        }
        p{
            width:95%;
            margin:10px auto 15px;
            text-align:left;
            :last-of-type{
                margin-bottom:0;
            }
        }
    }
}
.cont_12{
    padding:20px 0;

    .cont_12_1{
        padding:20px 0;
        width:95%;
        margin:0 auto;

        .cont_12_2{
            background:rgba(255,255,255,0.7);
            width:95%;
            margin:20px auto 0;
            padding:20px 0;
        }
        h3{
            border-bottom:4px dotted #7a6b4d;
            padding-bottom:5px;
            width:90%;
            margin:20px auto 0;
        }
        p{
            width:90%;
            margin:15px auto 0;
        }
    }
}
.cont_13{
    padding:20px 0 20px;
    width:95%;
    margin:0 auto;
    ul{
        li{
            width:100%;
            margin: 0 auto 40px;
            h3{
                background-size:60px;
                min-height:60px;
                line-height: 1.4;
                padding-left:70px;
                padding-top:10px;
                box-sizing: border-box;
                font-size:18px;
                height:auto;
                margin-bottom:40px;
            }
            .a_box{
                width:95%;
                margin:0 auto;
                border:1px solid #0b62a9;
                background-color:#fff;
                position:relative;
                text-align: left;
                padding:40px 10px 20px;
                box-sizing: border-box;
                img{
                    position:absolute;
                    top:-30px;
                    left:-2.5%;
                    width:60px;
                }
                p{
                    font-size:16px;
                    line-height: 1.4;
                    margin-bottom:15px;
                }
            }
        }
        .col_sec{
            h3{
                line-height: 1.2;
            }
        }
    }
}
.cont_14{
    padding:20px 0;
    width:100%;
    margin:0 auto;
    .letter{
        padding: 0 10px;
        box-sizing: border-box;
        h2{
            font-size:40px;
            text-align: center;
            padding:40px 0;
        }
        div{
            text-align: left;
            font-size:16px;
            line-height: 1.4;
            p{
                margin-bottom:15px;
            }
        }
        .righttext{
            text-align: right;
            img{
                width:150px;
                display: block;
                margin-left:calc(100% - 150px);
            }
        }
    }
}
.cont_15{
    padding:20px 0 20px;
    width:95%;

    a{
        display: block;

        img{
            margin-bottom:20px;
        }
    }
    .q_link{
        margin-bottom:20px;
        color:#fd5d26;
    }
    .text_min{
        text-align: center;
        margin-bottom:20px;
    }
}
.cont_16{
    text-align: left;
    padding:40px 0 40px;
    background: #fff;
    ul{
        width:95%;
        margin: 0 auto;
        li{
            padding:20px;
            img{
                float:left;
                width:20%;
            }
            p{
                float: right;
                width:75%;
            }
        }
    }
}
.cont_17{
    position:relative;
    background:url(../images/bg_07.png) no-repeat left top;
    background-size:cover;
    padding:40px 0 60px;
    h2{
        width:90%;
        margin-left:10%;
        background: rgba(255,255,255,0.8);
        font-size:16px;
        font-weight:bold;
        color:#313131;
        line-height: 1.4;
        padding:40px 0;
        .dec_01{
            color:#1463ad;
            font-size:20px;
        }
        .dec_02{
            color:#317bbf;
        }
    }
}