@charset "UTF-8";

body{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    background: #fff;
    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
}
img{
    max-width: 100%;
    height:auto;
}
.sp{
    display:none;
}
.pc{
    display:block;
}

.text_01{
    font-size:40px;
    font-weight: bold;
    line-height: 50px;
}
.text_02{
    font-size:50px;
    font-weight: bold;
    line-height:60px;
}
.text_03{
    font-size:25px;
    font-weight: bold;
    line-height:40px;
}
.text_04{
    font-size:25px;
    line-height:40px;
}
.text_05{
    font-size:50px;
    line-height:60px;
}
.text_06{
    font-size:40px;
    line-height:50px;
}
.text_07{
    font-size:30px;
    line-height:40px;
}
.text_min{
    font-size:16px;
    line-height:20px;
    text-align: left;
}
.color_blue1{
    color:#517ffc;
}
.color_blue2{
    color:#2f66fc;
}
.color_blue3{
    color:#386cfc;
}
.color_black{
    color:#3f3f3f;
}
.color_brown{
    color:#7a6745;
}

.baloon_1{
    position: relative;
    display: inline-block;
    line-height: 160px;
    width: 100%;
    height: 160px;
    color: #FFF;
    text-align: center;
    background: #4d412b;
    z-index: 0;
    font-size:50px;
    &:after{
        content: "";
        position: absolute;
        bottom: -30px; left: 50%;
        margin-left: -30px;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #4d412b transparent transparent transparent;
    }
}
.baloon_2{
    position: relative;
    display: inline-block;
    line-height: 160px;
    width: 100%;
    height: 160px;
    color: #FFF;
    text-align: center;
    background: #386cfc;
    z-index: 0;
    font-size:50px;
    &:after{
        content: "";
        position: absolute;
        bottom: -30px; left: 50%;
        margin-left: -30px;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #386cfc transparent transparent transparent;
    }
}
.baloon_3{
    position: relative;
    display: inline-block;
    line-height: 180px;
    width: 100%;
    height: 160px;
    color: #FFF;
    text-align: center;
    background: #386cfc;
    z-index: 0;
    font-size:50px;
    margin-bottom: 20px;

    &:after{
        content: "";
        position: absolute;
        bottom: -60px;
        left: 0%;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 60px 600px 0 600px;
        border-color: #386cfc transparent transparent transparent;
    }
}
.cont_01{
    .text_01{
        margin:10px auto 20px;
    }
    
}
    
.cont_02{
    background: #e4ebfc;
    padding-bottom:60px;
    .bg_01{
         margin:10px auto 20px;
         background: url(../images/bg_01.png) repeat-x left center;
    }
    .text_01{
        margin:60px;
    }
    img{
        width:70%;
        margin:20px auto 60px;
    }
}
.cont_03{
    width:90%;
    margin:0 auto;
    background: #eae6de;
    border:10px solid #f8c798;
    padding:20px;
    box-sizing: border-box;
    text-align:left;
    
    img{
        display: block;
        text-align: left;
        width: 70%;
        margin: 0 0 30px 0;
    }
    
    p{
        margin-bottom:20px;
    }
}
.cont_04{
    background:#e4ebfc;
    background-image: url(../images/bg_02.png);
    background-position:center 100px;
    background-repeat: no-repeat;
    background-size:100%;
    padding-bottom:60px;
    
    .cont_04_01{
        width:90%;
        margin: 0 auto;
        text-align: left;
        p{
            margin:40px 0 0;
            width:60%;
        }
        ul{
            background:rgba(255,255,255,0.7);
            width:100%;
            margin:60px auto;
            border:4px solid #666872;
            border-radius: 3px;
            padding:30px;
            box-sizing: border-box;
            
            li{
                margin-bottom:30px;
                background: url(../images/icon_01.png) no-repeat left top;
                padding-left:50px;
                box-sizing: border-box;
            }
        }
        .text_05{
            font-size:30px;
            line-height: 50px;
        }
        .cont_04_02{
            text-align: center;
            p{
                margin:40px auto;
                font-weight:bold;
            }
            span{
                margin-top:20px;
            }
            img{
                width:100%;    
            }
        }
        .cont_04_03{
            background:url(../images/bg_03.png) left top;
            box-shadow: 0 0 2px #000;
            padding:20px;
            box-sizing: border-box;
            text-align: left;
                p{
                width:90%;
                margin:0 auto 40px;
                font-weight: normal;
            }
            .img_01{
                margin:40px auto;
                width:70%;
            }
            .img_02{
                margin: 0 auto;
                width:50%;
            }
        }
    }
}
.cont_05{
    background: #fffbf3;
    padding-bottom: 60px;
    
    .cont_05_01{
        margin:70px auto 100px;
        width:90%;
        
        p{
            margin-bottom:40px;
        }
    }
    .cont_05_02{
        background:#fff;
        border: 10px solid #c8b28b;
        width:90%;
        margin: 0 auto;
        padding:60px 10px;
        box-sizing: border-box;
        text-align: left;
        
        ul{
            width:90%;
            margin: 0 auto;
            li{
                h3{
                    width:100%;
                    height:100px;
                    line-height: 100px;
                    background:#7d6a48;
                    color:#fff;
                    font-size:30px;
                    padding-left:20px;
                    box-sizing: border-box;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        width: 0px;
                        height: 0px;
                        z-index: 1;
                        top: 0;
                        right: 0;
                        border-width: 50px 80px 50px 0px;
                        border-color: transparent #fff transparent transparent;
                        border-style: solid;
                    }
                }
                p{
                    font-size:25px;
                    line-height:40px;
                    padding:40px 0;
                }
            }
        
        }
    }
    .text_01{
        margin:60px auto 0;
    }
}
.cont_06{
    background:#e4ebfc;
    padding:60px 0;
    
    .cont_06_01{
        width:90%;
        margin:0 auto 40px;
    }
    .cont_06_02{
        margin: 40px auto;
        background:#fff;
        padding:40px 0 20px;
        p{
            margin-bottom:20px;
        }
    }
    .cont_06_03{
        text-align: left;
        width:90%;
        margin: 40px auto;
        margin-bottom:40px;
    }
    .cont_06_04{
        img{
            width:100%;
        }
        .cont_06_05{
            background:#aac3fe;
            padding:100px 0 40px;
            width:90%;
            margin:-50px auto 0;
        }
        li{
            width:90%;
            margin:0 auto;
            background:#fff;
            border-radius: 5px;
            text-align: left;
            padding:40px;
            box-sizing: border-box;
            
            img{
                margin:-8% 0 40px -8%;
            }
            
            p{
                margin-bottom:40px;
                :last-of-type{
                    margin-bottom:0;
                }
            }
            .memo{
                margin:60px auto;
                width:100%;
                background:url(../images/bg_06.png) left top;
                box-shadow: 1px 1px 2px #666;
                position:relative;
                padding:80px 0 20px;
                .pin_l{
                    width:40px;
                    position:absolute;
                    left:20px;
                    top:-10px;
                    margin-bottom: 0;
                    img{
                        width:100%;
                    }
                }
                .pin_r{
                    width:40px;
                    position:absolute;
                    right:20px;
                    top:-10px;
                    margin-bottom: 0;
                    img{
                        width:100%;
                    }
                }
                ul{
                    li{
                        background-color:transparent;
                        margin-bottom:30px;
                        background: url(../images/icon_01.png) no-repeat left top;
                        padding:0 0 0 60px;
                        box-sizing: border-box;
                        height:auto;
                        font-size:35px;
                        line-height: 42px;
                        color:#2a87fc;
                    }
                }
            }
        }
        .arrow_01{
            width:50%;
            margin:0 auto 20px;
        }
    }
    .cont_06_06{
        width:88%;
        margin:100px auto 0;
        border:10px solid #bcb2a4;
        border-radius:5px;
        background:url(../images/bg_03.png) left top;
        
        .cont_06_07{
            
            ul{
                margin-top:80px;
                
                li{
                    margin-top:20px; 
                    background:rgba(255,255,255,0.7);
                    box-shadow: 0px 0px 5px #444;
                    width:90%;
                    margin-bottom:40px;
                    
                    .ttl{
                        background:#bcb2a4;
                        border-radius: 5px;
                        padding:10px 20px;
                        width:150px;
                        text-align: center;
                        font-size:20px;
                        color:#7d6439;
                        margin:-9% auto 20px;
                    }
                }
                audio{
                    margin-bottom:40px;
                    border:1px solid #ccc;
                }
            }
        }
    }
    .cont_06_07{
        background:#e4ebfc;
        padding:60px 0;
        
        img{
            margin-bottom:40px;
            max-width: 80%;
        }
        
        p{
            width:90%;
            margin:0 auto 40px;
            :last-of-type{
                margin-bottom:0;
            }
        }
        
    }
    .cont_06_08{
        text-align: left;
        padding:60px 0 20px;
        
        p{
            width:90%;
            margin:0 auto 40px;
            :last-of-type{
                margin-bottom:0;
            }
        }
        ul{
            margin:40px 0 60px 5%;;
            
            
            li{
                margin-bottom:20px;
            }
        }
        .text_02{
            color:#2f9aa3;
            text-align: center;
        }
    }
    .cont_06_09{
        background:url(../images/img_36.png) no-repeat right bottom;
        background-size:cover;
        margin-top:-40px;
        text-align: left;
        p{
            width:90%;
            margin:0 auto 40px;
            text-shadow:0 0 1px #fff,0 0 1px #fff,0 0 1px #fff;
            :last-of-type{
                margin-bottom:0;
            }
        }
        .cont_06_10{
            background:rgba(255,255,255,0.7);
            padding:100px 10px 60px;
            box-sizing: border-box;
        }
    }
}
.cont_07{
    text-align: left;
    padding:80px 0 20px;
    p{
        width:90%;
        margin:0 auto 40px;
        :last-of-type{
            margin-bottom:0;
        }
    }
    img{
        margin-bottom:40px;
    }
    ul{
        background:#d3dffb;
        width:90%;
        margin:60px auto;
        border:4px solid #aac3fe;
        border-radius: 10px;
        padding:30px;
        box-sizing: border-box;

        li{
            margin-bottom:30px;
            background: url(../images/icon_01.png) no-repeat left top;
            padding-left:60px;
            box-sizing: border-box;
            height:42px;
            font-size:35px;
            line-height: 42px;
            color:#2a87fc;
        }
    }
}
.cont_08{
    padding-bottom:40px;
    background:#d3dffb;
    li{
        margin-bottom:60px;
    }
    .ttl{
        width:100%;
        background:#c6d5fd;
        height:170px;
        box-sizing: border-box;
        .num{
            float:left;
            width:30%;
            height:130px;
            margin-top:10px;
            div{
                background:#2f9aa3;
                color:#fff;
                font-size:25px;
                padding:35px 0 0;
                width:200px;
                height:165px;
                margin: -30px auto 0;
                border-radius: 50%;
                .count{
                    font-size:70px;
                    margin-top:10px;
                }
            }
        }
        h3{
            color:#2f9aa3;
            text-align: left;
            font-size:50px;
            line-height: 1.2;
            width:70%;
            height:130px;
            margin-top:20px;
            float:left;
        }
    }
    .text_bg{
        width:100%;
        padding:120px 0 40px;
        background:url(../images/spebg_01.png) no-repeat center center;
        background-size:cover;
        .textbox{
            width:70%;
            margin-left:30%;
            background:rgba(255,255,255,0.7);
            padding:20px;
            box-sizing: border-box;
            p{
                margin-bottom:15px;
                font-size:30px;
                text-align: left;
                line-height: 1.4;
            }
        }
    }
    .list_02{
        .text_bg{
            background:url(../images/spebg_02.png) no-repeat center center;
        }
    }
    .list_03{
        .text_bg{
            background:url(../images/spebg_03.png) no-repeat center center;
        }
    }
    .list_04{
        .text_bg{
            background:url(../images/spebg_04.png) no-repeat center center;
        }
    }
    .list_05{
        .text_bg{
            background:url(../images/spebg_05.png) no-repeat center center;
        }
    }
    .list_06{
        .text_bg{
            background:url(../images/spebg_06.png) no-repeat center center;
        }
    }
    .list_07{
        .text_bg{
            background:url(../images/spebg_07.png) no-repeat center center;
        }
    }
    .list_08{
        .text_bg{
            background:url(../images/spebg_08.png) no-repeat center center;
        }
    }
    .list_09{
        .text_bg{
            background:url(../images/spebg_09.png) no-repeat center center;
        }
        .ttl{
            h3{
                margin-top:55px;
                height:95px;
            }
        }
    }
    .list_10{
        .text_bg{
            background:url(../images/spebg_10.png) no-repeat center center;
        }
    }
    .list_11{
        .text_bg{
            background:url(../images/spebg_11.png) no-repeat center center;
        }
        .ttl{
            h3{
                margin-top:55px;
                height:95px;
            }
        }
    }
    .list_12{
        .text_bg{
            background:url(../images/spebg_12.png) no-repeat center center;
        }
    }
}
.cont_09{
    padding-bottom:40px;
    background:#e4ebfc;
    padding-top:60px;
       
    .cont_09_01{
        width:90%;
        margin:0 auto 0;
        background: #fff;
        border:10px solid #91aefd; 
        text-align: left;
        padding-top:100px;
        
        p{
            width:90%;
            margin:0 auto 40px;
            :last-of-type{
                margin-bottom:0;
            }
        }
    }
}
.cont_10{
    border-top:10px solid #2f9aa3;
    background:#e1fafc;
    
    .cont_10_1{
        width:90%;
        margin:0 auto;
        padding:60px 0;
    }
    .psex{
        width:100%;
        height:110px;
        background:#2f9aa3;
        padding-top:20px;
        box-sizing: border-box;
        margin-top:60px;
    }
    .cont_10_2{
        width:100%;
        background:#fff;
        border:4px solid #2f9aa3;
        padding:60px 10px;
        box-sizing: border-box;
        
        a{
            margin:60px 0;
            display: block;
            
            :hover{
                opacity: 0.8;
            }
        }
        .text_02{
            color:#2f9aa3;
        }
        .text_07{
            text-align: left;
            width:80%;
            margin:20px auto;
        }
        .q_link{
            color:#fd5d26;
            text-align: center;
        }
    }
}

.cont_11{
    background:#fefaf2;
    padding:60px 0;
    
    .cont_11_1{
        background:#fff;
        border:4px solid #7a6b4d;
        box-sizing: border-box;
        width:90%;
        margin:0 auto;
        img{
            margin-left:-3.8%;
            margin-top:-4px;
        }
        p{
            width:90%;
            margin:40px auto 40px;
            text-align:left;
            :last-of-type{
                margin-bottom:0;
            }
        }
    }
}
.cont_12{
    padding:60px 0;
    
    .cont_12_1{
        background:url(../images/bg_4.png) left top;
        padding:60px 0;
        width:90%;
        margin:0 auto;
        text-align: left;
        
        h2{
            text-align: center;
            color:#7a6b4d;
        }
        .cont_12_2{
            background:rgba(255,255,255,0.7);
            width:90%;
            margin:60px auto 0;
            padding:40px 0;
        }
        h3{
            color:#7a6b4d;
            border-bottom:4px dotted #7a6b4d;
            padding-bottom:5px;
            width:90%;
            margin:40px auto 0;
        }
        p{
            width:90%;
            margin:40px auto 0;
        }
    }
}
.cont_13{
    background:#f2f5fd;
    padding:20px 0 60px;
    width:90%;
    margin:0 auto;
    ul{
        li{
            width:95%;
            margin: 0 auto 40px;
            h3{
                background:url(../images/icon_q.png) no-repeat left top;
                height:130px;
                line-height: 130px;
                padding-left:150px;
                box-sizing: border-box;
                text-align:left;
                font-size:40px;
                color:#3dc3c5;
            }
            .a_box{
                width:90%;
                margin-left:10%;
                border:1px solid #0b62a9;
                background-color:#fff;
                position:relative;
                text-align: left;
                padding:60px 40px 40px;
                box-sizing: border-box;
                img{
                    position:absolute;
                    top:-40px;
                    left:-30px;
                }
                p{
                    font-size:25px;
                    line-height: 1.4;
                    margin-bottom:25px;
                }
            }
        }
        .col_sec{
            h3{
                line-height: 1.2;
            }
        }
    }
}
.cont_14{
    padding:60px 0;
    width:80%;
    margin:0 auto;
    .letter{
        background:url(../images/bg_05.png)  left top;
        border:1px solid #bebcbc;
        padding: 0 20px;
        box-sizing: border-box;
        h2{
            font-size:80px;
            text-align: center;
            padding:80px 0;
            color:#3f3f3f;
        }
        div{
            text-align: left;
            font-size:25px;
            line-height: 1.4;
            color:#3f3f3f;
            p{
                margin-bottom:25px;
            }
        }
        .righttext{
            text-align: right;
            img{
                width:257px;
                display: block;
                margin-left:calc(100% - 257px);
            }
        }
    }
}
.cont_15{
    padding:60px 0 40px;
    width:90%;
    margin:0 auto;
    text-align: center;
    
    a{
        display: block;
        
        img{
            margin-bottom:20px;
        }
    }
    .q_link{
        margin-bottom:60px;
        color:#fd5d26;
    }
    .text_min{
        text-align: center;
    }
    margin-bottom:20px;
}
.cont_16{
    text-align: left;
    padding:80px 0 80px;
    background: #fff;
    ul{
        width:90%;
        margin: 0 auto;
        li{
            width:100%;
            border-bottom:#386cfc 1px solid;
            padding:40px;
            box-sizing: border-box;
            img{
                float:left;
                width:20%;
            }
            p{
                float: right;
                width:70%;
            }
            &:last-of-type{
                border-bottom:none;
            }
        }
    }
}
.cont_17{
    position:relative;
    background:url(../images/bg_07.png) no-repeat left top;
    background-size:contein;
    width:100%;
    padding:60px 0 200px;
    h2{
        width:70%;
        margin-left:30%;
        background: rgba(255,255,255,0.8);
        font-size:45px;
        font-weight:bold;
        color:#313131;
        line-height: 1.4;
        padding:60px 0;
        .dec_01{
            color:#1463ad;
            font-size:55px;
        }
        .dec_02{
            color:#317bbf;
        }
    }
}